
$header-font:"Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
$other-font:Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;

$bg-color:#EDEDF6;
$main-color:#0400C7;
$main-color-025:#0300c73a;

$accent-color:#FF7C05;
$accent-color-025:#ff7e052d;

$header-font-size: clamp(22px,2.8vw,48px);
$base-font-size: clamp(14px,1.6vw,22px);

$breakpoint-1:420px;
$breakpoint-2:640px;
$breakpoint-3:768px;
$breakpoint-4:1024px;
$breakpoint-5:1280px;
$breakpoint-6:1536px;

/* Site-wide */
:global(html){
  background-color: $bg-color;
  font-family: $other-font;
  font-size: $base-font-size;
  max-width: 100%;
  overflow-x: hidden;
}
:global(*){
  margin:0;
  padding:0;
}
:global(a){
  color: black;
  text-decoration: none;
}

/* Anims */
@keyframes ltr {
  0%{
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  }
  100%{
    clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
  }
}
@keyframes ttb {
  0%{
    clip-path: polygon(100% 0, 0 0, 0 0, 100% 0);
  }
  100%{
    clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
  }
}