:global(*){
  margin:0;
  padding:0;
}

$header-font:"Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
$other-font:Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;

$bg-color:#EDEDF6;
$main-color:#0400C7;
$main-color-025:#0300c73a;

$accent-color:#FF7C05;
$accent-color-025:#ff7e052d;

/* Site-wide */
:global(html){
  background-color: $bg-color;
}
